body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

h1 {
    color: red;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 475px;
    width: 475px;
    gap: 5px;
}

.box {
    margin: 0px;
    border: 0px;
    height: 25px;
    width: 25px;
    background-color: bisque;
}

.etching {
    margin: 0px;
    border: 0px;
    height: 25px;
    width: 25px;
    background-color: red;
}