body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 20px;
    padding: 20px;
}
.content {
    display: flex;
    gap: 25px;
}

h1 {
    color: red;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 760px;
    width: 760px;
}

.box {
    margin: 0px;
    border: 0px;
    background-color: bisque;
}